<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda comercial</title>
    <link rel="stylesheet" href="/editar.css">
</head>
<body>
   <div>
       <h1>Modificador de registros</h1>
   </div>


   <div class="container">
   <div class="main">
        <form id="Alumno" action="/actualizar" method="POST">
        <input type="text" name="ID" id="ID" value="<%=filas.ID%>">
        <div>
           <h4>Datos usuario</h4>
       </div>

       <div class="grupo"><input name="RFC" type="text" value="<%=filas.RFC%>" id="RFC" placeholder="RFC del usuario" required></div>
       <div class="grupo"><input name="CURP" type="text" value="<%=filas.CURP%>" id="CURP" placeholder="CURP del usuario" required></div>
       <div class="grupo"><input name="NOMBRE" type="text" value="<%=filas.NOMBRE%>" id="NOMBRE" placeholder="NOMBRE del usuario" required></div>
       <div class="grupo"><input name="CONTRASENA" type="text" value="<%=filas.CONTRASENA%>" id="CONTRASENA" placeholder="CONTRASENA del usuario" required></div>
        
       <input type="submit" value="Guardar" id="guardar">
       <div class="grupo">
           <a href="/usuario">Cancelar</a>
       </div>


       </form>


    </div>
</div>
<br><br>
</body>
</html>