<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USUARIO</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
   <div>
       <h1>Registro de Usuarios</h1>
   </div> 

<div id="listado">
    <nav id="menu">
        <a href="/agregar" class="boton" id="agregar">Agregar</a>
    </nav><br>
</div>
   <div>
       <table>
           <thead> <!-- Encabezados -->
               <th>ID</th> <!-- Celdas -->
               <th>RFC</th>
               <th>CURP</th>
               <th>NOMBRE</th>
               <th>CONTRASENA</th>
           </thead>
           <tbody id="datos"> <!-- Datos de la tabla-->

            <% for( ele of filas ) { %> <!-- script integrado en html -->
            
                <tr>
                    <td>
                        <%= ele.ID%>
                    </td>
                    <td>
                        <%= ele.RFC%>
                    </td>
                    <td>
                        <%=ele.CURP%>
                    </td>
                    <td>
                        <%=ele.NOMBRE%>
                    </td>
                    <td>
                        <%=ele.CONTRASENA%>
                    </td>
                    <td>
                        <a href = "/editar/<%- ele.ID%>" class="boton" id="editar">Editar</a>
                        <a href = "/eliminar/<%- ele.ID%>" class="boton" id="eliminar">Eliminar</a>
                    </td>
                </tr>

            <% } %>

           </tbody>
       </table>
   </div>
  </body>

</html>